body {
}


.Box_iframe
    {
		width:1200px; 
		height:900px;
    }





.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.CaixaTextoGigante {
    width: 415px;
}
.CaixaTextoGrande {
    width: 300px;
}

.CaixaTextoMedio {
    width: 210px;
}

.CaixaTextoPequeno {
    width: 150px;
}

.CaixaTextoData {
    width: 125px;
}

.CaixaTextoMini {
    width: 100px;
}

.CaixaTextoMicro
{
    width:60px;
}

.announcement-menu {
    font-size: 25px;
    margin: 0;
}

.painelInformacao {
    border: 1px dashed #ccc;
    overflow: hidden;
    padding: .5em 1em;
}

    .painelInformacao p {
        margin: 0 0 5px;
    }

.last-modification {
    clear: both;
    font-size: 13px;
    line-height: 22px;
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding-bottom: 0px !important;
}

    .last-modification.no-margin {
        margin-left: -20px;
    }

.last-modification-box {
    font-style: italic;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.form-stacked.actions {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

.row {
    margin-bottom: 0;
    display: block;
}



.modal-dialog {
    width: 60%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
}

.modal-body {
    max-height: 850px;
    flex: 1 1 auto;
}

.modal-largo {
    width: 80% !important;
    max-width: none !important;
}

.modal-header-content {
    display: flex;
    align-items: center;
}

.modal-logo img {
    max-width: 50px;
    margin-right: 10px;
}

.modal-title-container {
    flex-grow: 1;
}

.modal-title {
    color: #009A22;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

